.appCommandBarPanel {
    border:1px solid #000;
    position:absolute;
    bottom:0;
    top:0;
    left:0;
    width:100%;
    background-color:inherit;
    color:inherit;
    overflow:auto;
    padding:35px 5px 5px;
}

.appCommandBarPanelTitle {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:30px;
    font-size:1.1em;
    padding:5px;
    background-color:#3F66B0;
    color:#fff;
}

.appCommandBarPanelTitle button.close {
    color:#fff;
    opacity:1.00;
}