.appWorkspace {
    border:1px solid #000;
    position:absolute;
    top:114px;
    bottom:0;
    left:400px;
    right:0;
    background-color:#939393;
    color:#333;
    overflow:auto;
    padding:5px;
}

.appWorkspace.expandedWorkspace {
    left:75px;
}